.ng-tns-c32-2,
.ng-tns-c32-3,
.ng-tns-c32-4,
.ng-tns-c32-5,
.ng-tns-c32-6{
  width: 100%;
}
.mat-mdc-form-field-error {
  color: #ffffff;
}
.titulo-abm{
  color: white
}
.btn-form button{
  background-color: white;

  border-radius: 20px;
}
